.divestilo {text-align:center;}
.tablaestilo {margin:0; width:100%; border:1 px;}
.celdaizq {width:50%; height:200px; background-color:#00FFEF}
.celdader {width:50%; height: 200px; background-color:#f8f32b}