.contenedor{
    display:flex;
    height: 400%;
    flex-direction:column;
    background-color:white;
    padding:10px;
    border: 0px solid black;
    align-items: center;
}
.contenedor tr{
    background-color: black;
    margin: 0px;
    -ms-flex-align: center;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 0px;
    
}


.centrar {
    margin: auto;
    display: block;
}


